# Logs
logs
.logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
bower_components

# Debug log from npm
npm-debug.log

# Build directories
.tmp

# App data & environment
.data
.env
public/build
config/repos.json
config/config.json
