# Logs
logs
.logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
bower_components

# Debug log from npm
npm-debug.log

# Application specific directories
.build
.repos
.cache
.config/stacks

# Environment variables
.env