doctype html
html
  head
    meta(http-equiv="Content-Type" context="text/html; charset=utf-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
    link(rel='stylesheet' href='/build/bower.css')
    link(rel='stylesheet' href='/build/styles.css')
    title
      | Deploy
  body
    block content