extends layout

block content
  br
  div#repo.container
    h3=repo.full_name
    table.u-full-width
      tbody
        each commit in commits
          tr
            td.author
              =commit.author.login
            td.sha.text-unimportant
              =commit.short_sha
            td
              =commit.commit.message
              if commit.builds.length
                hr
                table.u-full-width.no-separator.no-vertical-padding.border-top
                  tbody
                    each build in commit.builds
                      tr
                        td.text-unimportant
                          =build._id
                        td.action
                          a(href="/repos/"+repo.id+"/builds/"+build._id+"/log")
                            span.octicon.octicon-terminal
                        td.action
                          if build.download
                            a(href="/repos/"+repo.id+"/builds/"+build._id+"/download" download)
                              span.octicon.octicon-cloud-download
            td
              a(href="/repos/"+repo.id+"/builds/create/"+commit.sha)
                span.octicon.octicon-package