extends layout

block content
  br
  div.container(style="max-width:820px")
    h3.text-center=repo.full_name

    table#environments.cell-border-none.u-full-width
      tbody
        tr
          td
            div.environment
              div.heading
                | STAGING
              div.monospace
                if lastDeploys.staging
                  =lastDeploys.staging.sha
                else
                  | null
              br
              a.button.margin-bottom-none(href="/repos/"+repo.id+"/deploys/staging/start")
                | Deploy
          td.text-center
            span.mega-octicon.octicon-rocket
          td
            div.environment
              div.heading
                | PRODUCTION
              div.monospace
                if (lastDeploys.production)
                  =lastDeploys.production.sha
                else
                  | null
              br
              if needUserSignoff
                a.button.margin-bottom-none(href="/repos/"+repo.id+"/signoffs")
                  | I'm Good
              else if canDeployProd
                a.button.button-primary.margin-bottom-none(href="/repos/"+repo.id+"/deploys/production/start")
                  | Deploy
              else
                button.button.button-disabled.margin-bottom-none(disabled="disabled")
                  | Waiting for signoff


    table#repo.u-full-width
      tbody
        each commit in commits
          tr
            td.author
              if (commit.author)
                =commit.author.login
              else
                span.text-unimportant=commit.commit.author.name
            td.sha.text-unimportant.monospace
              =commit.short_sha
            td.signoff
              if commit.signoff !== undefined
                if commit.signoff
                  span.octicon.octicon-check
            td.status
              if commit.on_production
                | PROD
              else if commit.on_staging
                | STAGING
            td
              =commit.commit.message
              if commit.builds.length
                hr
                table.u-full-width.cell-border-none.cell-padding-none.margin-bottom-none
                  tbody
                    each build in commit.builds
                      tr
                        td.text-unimportant.monospace
                          =build._id
                        td.action
                          a(href="/repos/"+repo.id+"/builds/"+build._id+"/log")
                            span.octicon.octicon-terminal
                        td.action
                          if build.download
                            a(href="/repos/"+repo.id+"/builds/"+build._id+"/download" download)
                              span.octicon.octicon-cloud-download
            td
              a(href="/repos/"+repo.id+"/builds/create/"+commit.sha)
                span.octicon.octicon-package