a
  .octicon
    color: #222

#repos
  max-width: 640px

  > div
    border: 1px solid #e1e1e1
    border-radius: 4px

    > div
      padding: 2.5rem 3rem
      border-bottom: 1px solid #e1e1e1

      &:last-child
        border-bottom: 0

#repo
  max-width: 720px

  .author
    text-align: right

  .sha
    color: gray
    width: 5%