pre
  border: 1px solid #e1e1e1
  border-radius: 4px
  padding: 2.5rem 3rem
  white-space: pre-wrap
  font-size: 11px

hr
  margin-top: 0.75em
  margin-bottom: 0.75em

.text-unimportant
  color: gray

a
  .octicon
    color: #222

h1, h2, h3, h4, h5
  &.margin-none
    margin-bottom: 0

table
  td
    vertical-align: top

  &.no-separator
    td
      border-bottom: 0

  &.no-vertical-padding
    td
      padding-top: 0
      padding-bottom: 0

#repos
  max-width: 640px

  > div
    border: 1px solid #e1e1e1
    border-radius: 4px

    > div
      padding: 2.5rem 3rem
      border-bottom: 1px solid #e1e1e1

      &:last-child
        border-bottom: 0

#repo
  max-width: 720px

  .author
    text-align: right

  .sha
    width: 5%

  .action
    width: 20px
    padding-left: 0
    padding-right: 0