body
  line-height: 1.6em

pre
  border: 1px solid #e1e1e1
  border-radius: 4px
  padding: 2.5rem 3rem
  white-space: pre-wrap
  font-size: 11px

hr
  margin-top: 0.85em
  margin-bottom: 0.75em

.text-unimportant
  color: gray

.text-italic
  font-style: italic

.margin-bottom-none
  margin-bottom: 0

.margin-top-none
  margin-top: 0

.text-center
  text-align: center

.button
  &[disabled]
    background-color: #eee
    &:hover
      background-color: #eee
      border-color: #bbb


a
  .octicon
    color: #222

h1, h2, h3, h4, h5
  &.margin-none
    margin-bottom: 0

table
tr
td
  &.cell-border-none
    border-bottom: 0

    td
      border-bottom: 0

  &.cell-padding-none
    padding-top: 0
    padding-bottom: 0

    td
      padding-top: 0
      padding-bottom: 0

.monospace
  font-family: monospace

#repos
  max-width: 640px

  > div
    border: 1px solid #e1e1e1
    border-radius: 4px

    > div
      padding: 2.5rem 3rem
      border-bottom: 1px solid #e1e1e1

      &:last-child
        border-bottom: 0

#repo
  td
    vertical-align: top

  .author
    text-align: right

  .sha
    width: 5%

  .action
    width: 24px
    padding-left: 0
    padding-right: 0
    text-align: right

  .status
    font-weight: bold
    font-size: 10px
    text-align: center

#environments
  td:first-child
  td:last-child
    width: 45%

  .environment
    height: 100%
    text-align: center
    border: 1px solid #e1e1e1
    border-radius: 4px
    padding: 2.5rem 3rem

    .heading
      font-weight: bold

.error
  color: #f03365
